@model IEnumerable<MVCChat.Models.Document>

@{ ViewBag.Title = "MisDocumentos";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<br />
<br />
<h3>Mis Documentos</h3>

<table class="table">
    <tr>
        <th style="background-color:coral">
            Nombre del documento
        </th>
        <th style="background-color:coral"></thstyle="background-color:coral">
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td style="background-color:steelblue">
        @Html.DisplayFor(modelItem => item.DocNombre)
    </td>

    <td style="background-color:palevioletred">
        @Html.ActionLink("Descargar", "Obtener", new { nombre = item.DocNombre })
    </td>
</tr>}

</table>

<p>
    @Html.ActionLink("Regresar", "HomePerfil", "Perfil")
</p>

